apiVersion: 1

contactPoints:
  - orgId: 1
    name: email-admin
    receivers:
      - uid: email-admin-1
        type: email
        settings:
          addresses: "{{ grafana_alert_email_to }}"
          singleEmail: true
        disableResolveMessage: false