global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
{% for k, v in prometheus_external_labels.items() %}
    {{ k }}: "{{ v }}"
{% endfor %}

rule_files:
  - /etc/prometheus/rules.yml

scrape_configs:
{% for job in prometheus_scrape_configs %}
  - job_name: {{ job.job_name }}
    metrics_path: {{ job.metrics_path }}
    scheme: {{ job.scheme }}
    static_configs:
      - targets:
{% for t in job.targets %}
          - "{{ t }}"
{% endfor %}
        labels:
{% for k, v in job.labels.items() %}
          {{ k }}: "{{ v }}"
{% endfor %}
{% endfor %}